<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comprovante</title>
    <link rel="stylesheet" href="../styles/estilo.css">
    <link rel="icon" href="../assets/desprendible.png">
</head>
<body>
    

    <section id="comprovante">
        <div id="gra" >
            <h1 id="cias">!Gracias por su compra¡</h1>
        </div>
        

        <div id="dpb">
            <img src="../assets/desprendible.png" alt="Desprendible" id="desprendible">

            <div id="bot">
                <a href="../index.html" id="bot2">Inicio</a>
            </div>
        </div>

    </section>
</body>
</html>