 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/estilo.css">
    <link rel="icon" href="../assets/mano.avif">
    <title >Pagos</title>
 </head>
 <body>

       <section id="imagen" >
        <div id="pagos" >
     <form >

        
      <select  id="banco">
        
 
      <optgroup label="Banco ">
    
      </optgroup>

        <option value="bancolombia">Bancolombia</option>
        <option value="davivienda">Davivienda</option>
        <option value="pse">Pse</option>
        <option value="nequi">Nequi</option>
      </optgroup>

      </select> <br><br>
      <select id="cuenta1">
        
      <optgroup label="Tipo de cuenta">
       
      </optgroup>

        <option value="corriente">Corriente</option>
        <option value="ahorros">Ahorros</option>
      </optgroup>

      </select> <br><br>

   <section>

    
      

            <div id="datos">
                
                    <div id="datos3">
             <label for="cuenta">Numero de cuenta</label> 
             <input type="number" id="cuenta" />
            
            </div>
   
        </div>
         <div id="datos">
                <div id="datos2">
            <label for="valor">Valor</label> 
            <input type="number" min="0.0" max="30.0"  id="valor" name="valor" >
                    </div>
                    <div id="datos3">
             <label for="telefono">Telefono</label> 
             <input type="number" id="telefono" />

            
            </div>
   
        </div>

        <div id="datos4">
                
            <label for="mensaje">Si tienes un problema deja tu mensaje</label>
            <textarea name="mensaje" id="mensaje" rows="7" cols="111"></textarea>

            <div  id="ultimoB1">
              <a href="index3.html" id="btn1">Comprar</a>
            </div>
            
            

         <div id="ultimoB" >

 <a href="../index.html"  id="btn"> Volver</a>
    
       
 </div>
            </div>
 
         </form>

        </section>
        </div>
   </section>
    
 </body>
 </html>